/* * {
  margin: 0;
  padding: 0;
} */

body {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: var(--primary-bg);
  color: #fff;
}

html {
  overflow-x: hidden;
}

:root {
  --primary-bg: #09090B;
  --secondary-bg: #141319;
  --tertiary-bg: #17171C;
}

.gradient-colors {
    background: conic-gradient(
      from 0deg,
      #c084fc,
      #a855f7
    );
  
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}